<%@ Master Language="VB" CodeFile="Pharmacy.master.vb" Inherits="Pharmacy" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <!-- call scripts -->
    <%--<meta name="viewport" content="width=device-width, initial-scale=1"/>--%>
        <script type="text/javascript" src="JavaScript.js" lang="javascript"></script>
            <link rel="stylesheet" href="css\StyleSheet.css" />         
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="css\font-awesome.css"/>
            
           <link rel="stylesheet" href="StyleSheet.css" />
        <!-- Make compatible with all devices -->
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
      
     <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
    <script language="javascript" type="text/javascript">
        function CheckNumeric(e) {

            if (window.event) // IE 
            {
                if ((e.keyCode < 48 || e.keyCode > 57) & e.keyCode != 8) {
                    event.returnValue = false;
                    return false;

                }
            }
            else { // Fire Fox
                if ((e.which < 48 || e.which > 57) & e.which != 8) {
                    e.preventDefault();
                    return false;

                }
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        function Validate() {
            var val = document.getElementById('your_input_control_id').value;

            if (!val.match(/^[a-zA-Z]+$/)) {
                alert('Only alphabets are allowed');
                return false;
            }

            return true;
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if ((charCode <= 93 && charCode >= 65) || (charCode <= 122 && charCode >= 97) || (charCode == 8) { // Mishra's mistake correction!


                return true;
            }
            alert("Only A-Z or a-z");
            return false;

        }

        var letters = ' ABCÇDEFGHIJKLMNÑOPQRSTUVWXYZabcçdefghijklmnñopqrstuvwxyzàáÀÁéèÈÉíìÍÌïÏóòÓÒúùÚÙüÜ'
        var numbers = '1234567890'
        var signs = ',.:;@-\''
        var mathsigns = '+-=()*/'
        var custom = '<>#$%&?¿'

        function alpha(e, allow) {
            var k;
            k = document.all ? parseInt(e.keyCode) : parseInt(e.which);
            return (allow.indexOf(String.fromCharCode(k)) != -1);
        }


    </script>

  <script>
      function onlyDotsAndNumbers(txt, event) {
          var charCode = (event.which) ? event.which : event.keyCode
          if (charCode == 46) {
              if (txt.value.indexOf(".") < 0)
                  return true;
              else
                  return false;
          }

          if (txt.value.indexOf(".") > 0) {
              var txtlen = txt.value.length;
              var dotpos = txt.value.indexOf(".");
              //Change the number here to allow more decimal points than 2
              if ((txtlen - dotpos) > 2)
                  return false;
          }

          if (charCode > 31 && (charCode < 48 || charCode > 57))
              return false;

          return true;
      }
        </script>
   


         

              
        
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
   


         

              
        
</head>

<body style="background-color:steelblue">
    <form id="form1" runat="server">
    

<!-- Navigation bar -->
<div class="navbar">
    <a href="Home.aspx"><h3>Home</h3></a>
 <div class="dropdown">
    <button class="dropbtn"><h3>Pharmacy Options </h3>
      <i style="margin:inherit; font-size:inherit;"></i>
    </button>
   <div class="dropdown-content">
     <div class="header">
        <h2>Welcome to Louis' Pharmacy </h2>
      </div> 
      <div class="row">
          
          <div style="float:left;width:2%">&nbsp</div>

        <div class="column" >
          <h3>Doctor</h3>
            <a href="Add_Physician.aspx">Add Physician</a>
            <a href="Search_Physician.aspx">Search Physician</a>
        </div>

          <div style="float:left;width:2%">&nbsp</div>

        <div class="column">
          <h3>Patient</h3>
          <a href="Add_Patient.aspx">Add Patient </a>   
          <a href="Search_Patient.aspx">Search Patient</a>
        </div>
          
          <div style="float:left;width:2%">&nbsp</div>
          
        <div class="column">
          <h3>Prescription</h3>
          <a href="Add_Prescription.aspx">Add Prescription</a>
          <a href="Edit_Prescription.aspx">Delete Prescription</a>
          <a href="Search_Prescription.aspx">Search Prescription</a>
          <a href="Edit_Prescription.aspx">Update Prescription</a>
        </div>
      </div>
    </div>
  </div> 
            <a href="About_Us.aspx"><h3>About Us</h3></a>
</div>
        <br />



        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        
        <div><br /><br /></div>
    </form>
  <footer>


      <table class="auto-style1">
          <tr>
              <td>Contact</td>
              <td>Location</td>
              <td>Hours</td>
          </tr>
          <tr>
              <td>717-867-5309</td>
              <td>150 King Street <br />
                  Lancaster Pa 17602</td>
              <td>Monday-Friday 9:00-5:00</td>
          </tr>
      </table>


  </footer>
</body>
</html>